<h1>Ingredient List</h1>
<%= form_for :recipe do |f| %>
    <p>
        <%= f.label :your_name %><br>
        <%= f.text_field :your_name %><br>
    </p>
    
    <p>
        <%= f.label :ingredient_1 %><br>
    </p>
    
<% end %>